.app{
text-align: center;
margin-bottom: 2rem;
font-family: "Lucida Console", "Courier New", monospace;
}

.table-container {
    margin: auto 10px;
    width: auto;
    height: auto;
    background-color: #18bcac;
  }
  
  .user{
    font-size: 120px;
  }

  .computer{
    font-size: 120px;
    color:blanchedalmond;
  }

  .draw{
    margin: auto;
    padding-top: 8rem;
  }

  .winner{
     margin: auto;
     padding-top: 6rem;
  }

  .restart-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    margin-top: 1rem;
    font-size: 32px;
    color:#13998c;
  }